<h1 class="h4">Cadastro de produtos</h1>
<label for="inputNoame" class="sr-only">Nome</label>
<input type="text" class="form-control mb-2 col-md-4"
       id="inputNome"
       name="nomeProduto"
       [ngClass]="{
            'is-invalid':nome.invalid && (nome.dirty || nome.touched),
            'is-valid':nome.valid && (nome.dirty || nome.touched)
           }"
       placeholder="Nome do produto" required
       [(ngModel)]="produto.nome"
       #nome="ngModel" />
<div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
  <div *ngIf="nome.errors.required">
    Nome do produto é de preenchimento obrigatório
  </div>
</div>

<label for="inputDescricao" class="sr-only">Descrição</label>
<input type="text" class="form-control mb-2 col-md-4"
       id="inputDescricao"
       name="descricaoProduto"
       [ngClass]="{
            'is-invalid':descricao.invalid && (descricao.dirty || descricao.touched),
            'is-valid':descricao.valid && (descricao.dirty || descricao.touched)
           }"
       placeholder="Descrição do produto" required
       [(ngModel)]="produto.descricao"
       #descricao="ngModel" />
<div class="invalid-feedback mb-2" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
  <div *ngIf="descricao.errors.required">
    Descrição do produto é de preenchimento obrigatório
  </div>
</div>

<label for="inputPreco" class="sr-only">Preço</label>
<input type="number" id="inputPreco"
       name="precoProduto" class="form-control mb-2 col-md-4"
       [ngClass]="{
            'is-invalid':preco.invalid && (preco.dirty || preco.touched),
            'is-valid':preco.valid && (preco.dirty || preco.touched)
           }"
       placeholder="Preço" required
       [(ngModel)]="produto.preco" #preco="ngModel"/>
<div class="invalid-feedback mb-2" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
  <div *ngIf="preco.errors.required">
    Preço do produto é de preenchimento obrigatório
  </div>
</div>

<div class="input-group mb-2">
  <div class="custom-file col-md-4">
    <input type="file"
           class="custom-file-input"
           id="inputFile" name="inputFile"
           (change)="inputChange($event.target.files)" />
    <label for="inputFile" class="custom-file-label">Escolha uma foto</label>
  </div>  
</div>


<button type="button" class="btn btn-primary mb-2" (click)="cadastrar()" [disabled]="ativar_spinner">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
  Cadastrar
</button>

<div class="alert alert-danger col-md-4" *ngIf="mensagem"> 
  {{mensagem}}
</div>
